.App {
  text-align: center;
}

.graph {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.column {
  height: 500px;
  width: 500px;
  margin-bottom: 200px;
  margin: 0 auto;
}

.radar {
  height: 500px;
  width: 500px;
  margin-top: -300px;
  margin: 0 auto;
}